body {
    background-color: darkslategrey;
    color: orange;
}

nav {
    height: auto;
    width: auto;
    float: left;
    padding: 5px;
    line-height: 30px;
}

footer {
    text-align: center;
    margin-right: auto;

}

header {
    text-align: center;
    margin-right: auto;
}