body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%; /* Full viewport height */
    width: 100%; /* Full viewport width */
    margin: 0;
    font-family: Arial, sans-serif;
}

.button {
    padding: 8px 16px;
    font-size: 16px; /* Set a specific font size */
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #ffffff; /* Set a specific color */
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #0056b3;
}

#siri-container {
    width: 100%; /* Full width */
    height: 200px;
    background-color: rgba(0, 0, 0, 0);
}