<!DOCTYPE html>
<html lang="en">
<!--For Prof. Prater Class CSC 102
    09Oct2023
    
    This is my assignment for week1-1 The Foundation NMJ

    30Oct2023
    
    4.1 Event driven programming
    Add start and stop buttons to start and stop memeImage moving-->

<head>
    <script src="../js/stg_indexCode.js"></script>
    <link rel="stylesheet" href="../css/stg_style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nicholas M James's Website</title>
</head>

<body>
    <script>
        //this is a javascript comment nmj
    </script>

    <header>
        <h1>Welcome Nicholas M James's Webpage</h1>
    </header>

    <br>
    <nav>
        <h2>
            Page Navigation
        </h2>
        <a href="./stg_index.html">Home</a><br>
        <a href="./stg_boards.html">Boards</a><br>
        <a href="./stg_game.html">Games</a><br>
        <a href="./stg_strings.html">Strings</a><br>
        <a href="../../../MicroLink/staging/Templates/html/stg_welcome.html">MicroLink</a><br>
    </nav>
    <br>
    <br>
    <br>
    <br>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <!--marquee to allow movement-->
    <marquee id="myMarquee" direction="right">
        <img id="memImage" src="../../Assets/images/OIP.jpg">
    </marquee>
    <center><button onclick="startFun();" id="startButton">Start</button><button onclick="stopFun();"
            id="stopButton">Stop</button>

        <h3>Well Did You?</h3>
        They Took Out His Vocal Chordes So He Couldn't Croak
    </center>
    
    <br>
    <br>
    <br>
    <br>


    <style>
        td,
        th {
            border: 1px solid;
            text-align: center;
            padding: 8px;
        }

        td {
            text-align: left;
            padding: 8px;
        }
    </style>
    <table style="width: 100%" id="tableSmashBros">
        <!--These are my Table headers-->
        <tr>
            <th onclick="sortTable(0)">Rank</th>
            <th onclick="sortTable(1)">Name</th>
            <th onclick="sortTable(2)">Weight Class</th>
            <th onclick="sortTable(3)">Plays</th>

        </tr>
        <!--Table Data-->
        <tr>
            <td>4</td>
            <td>Lucas</td>
            <td>Medium</td>
            <td>5600</td>

        </tr>
        <!--Table Data-->
        <tr>
            <td>3</td>
            <td>Mewtwo</td>
            <td>Medium</td>
            <td>6500</td>
        </tr>
        <!--Table Data-->
        <tr>
            <td>2</td>
            <td>Dr. Mario</td>
            <td>Heavy</td>
            <td>7450</td>
        </tr>
        <!--Table Data-->
        <tr>
            <td>1</td>
            <td>King DeDeDe</td>
            <td>Heavy</td>
            <td>9000</td>
        </tr>
    </table>
    <br>
    <br>

    <!--for event driven programming, assignment 4.2-->


    
   
        <p class="frogHappy">
            <center>
    <h3>Do You Know Why Frogs Are So Happy?</h3>
    <img src="../../Assets/images/whyarefrogssohappy.jpg" id="frogHappy">
            </center>
            
        </p>


    <br>
    <center>
        
        <footer>

            University of Advancing Technology<br>
            2625 W Baseline Road<br>
            Tempe, AZ 85283-1056<br>
            602-383-8228

        </footer>

    </center>
</body>

</html>