/* General Styles */
body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background: url('lillyPadLLCWatermark.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #333333;
}

/* Overlay */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    z-index: -1;
}

/* Section Styles */
.section {
    position: relative;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

/* Header Buttons */
.header-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.header-buttons h1 {
    flex-grow: 1;
    text-align: center;
    margin: 0;
}

/* Button Styles */
button {
    padding: 8px 16px;
    background: rgba(255, 255, 255, 0.2);
    color: #333333;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s, transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

button:hover {
    background: rgba(255, 255, 255, 0.3);
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Responsive Design */
@media (max-width: 768px) {
    .section {
        max-width: 100%;
        padding: 10px;
    }

    .button-container, .footer-container {
        flex-direction: column;
    }

    .header-buttons {
        flex-direction: column;
        align-items: center;
    }

    .header-buttons h1 {
        margin-bottom: 10px;
    }
}

/* Snowflake Animation */
.snowflake {
    position: absolute;
    top: -10px;
    background: white;
    border-radius: 50%;
    opacity: 0.8;
    animation: fall linear infinite;
}

@keyframes fall {
    to { transform: translateY(100vh); }
}

.holiday-lights {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 9999;
}

.light {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: red;
    animation: blink 1s infinite;
}

@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0.5; }
}